.account-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2em;
}

.money-row, .info-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.money-row {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.info-row {
  font-size: 0.75em;
  opacity: 0.5;
  margin-bottom: 0.3em;
}

.error-message {
  font-size: 0.75em;
  color: tomato;
}