@import "~normalize.css/normalize.css";

body {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  height: 100%;
  overflow-y: hidden;
}

.currency-sign {
  font-size: 0.75em;
  margin-right: 0.05em;
}